* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headWrapper {
    display: flex;
    padding: 20px;
}

div {
    padding: 20px;
    display: flex;
}

.headWrapper > div {
    display: flex;
    flex-direction: column;
}

.newTable {
    display: flex;
    flex-direction: row;
}

.newTable > div {
    display: flex;
    flex-direction: column;
}

.sortButtons {
    display: flex;
    flex-direction: row;
}